body{

    background-color: #483830;
}

#hbplus{
    display: block;
    margin: 0 auto;
    height: 50px;
    margin-top: 25px;   
}

.search-bar {
    text-align: center;
    font-family: Rubik , sans-serif;
    font-size: 18px;
    color: orangered;
  }

h1 {
    color: white;
    text-align: center;
    font-family: Rubik , sans-serif;
    font-size: 18px;
    color: orange;
  }